# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# --- Environments ---
.env
.venv/
venv/
ENV/
env/
anacondaprojects/
*.DS_Store

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.nbconvert.ipynb

# --- Data files ---
data/raw/
data/processed/
*.csv
*.xlsx
*.gz

# --- System / IDE ---
.vscode/
.idea/
.DS_Store

# --- Other ---
*.log